{% load static %}

<section>
    <div class="footer_container">
        <figure> <a href="https://github.com/ThePalmars1one?tab=repositories" target="_blank">
            <img src="{% static 'images/github.svg' %}" alt="Github Icon"></a>
        </figure>
        <figure><a href="https://www.linkedin.com/in/alejandro-palmar-a48639265/" target="_blank">
            <img src="{% static 'images/linke.svg' %}" alt="LindedIn Icon"></a>
        </figure>

        <div class="footer_email">
            <img src="{% static 'images/email.svg' %}" alt="Email Icon">
            <h2>thepalmars1one@gmail.com</h2>
        </div>

        <hr>

        <h1> ® Todos los derechos reservados</h1>

    </div>
</section>