{% load static %}

<section>

    <div class="slider_container">
        <div class="slider">
            <h2>01000010 01101001 01100101 01100111</h2>
            <h2>01000010 01101001 01100101 01100111</h2>
        </div>
        <div class="slider">
            <h2>01000010 01101001 01100101 01100111</h2>
            <h2>01000010 01101001 01100101 01100111</h2>
        </div>
        <div class="slider">
            <h2>01000010 01101001 01100101 01100111</h2>
            <h2>01000010 01101001 01100101 01100111</h2>
        </div>
        <div class="slider">
            <h2>01000010 01101001 01100101 01100111</h2>
            <h2>01000010 01101001 01100101 01100111</h2>
        </div>
        <div class="slider">
            <h2>01000010 01101001 01100101 01100111</h2>
            <h2>01000010 01101001 01100101 01100111</h2>
        </div>
    </div>

    <div class="greetings" id="home">
        <h1>Hola! </h1>
        <h1>Soy Alejandro Palmar</h1>
    </div>

    <div class="home">
        <div>
            <h1>Desarrollador Web</h1>
            <h1>Full-Stack Junior</h1>
        </div>

        <figure class="laptop"><img src="{% static 'images/laptop.svg'%}" alt="Laptop Icon"></figure>

        <div class="home_description">
            <h1>Soy un programador autodidacta <br>
                apasionado por la tecnología y <br>
                siempre estoy buscando nuevos <br>
                desafíos y oportunidades para <br>
                mejorar mis habilidades y <br>
                conocimientos en el campo de la <br>
                programación.
            </h1>
        </div>
    </div>

</section>